.vs
tmp
x86_64
*.png
*.jpg
*.gif
*.psd
*.wav
*.mp3
*.ogg
*.ttf
*.otf
*.wav
*.ogg
*.pyxel
assets
logs
res
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
bin
esp32-client/build
esp32-client/managed_components
.vscode
main.exe